.container {
  width: 100vw;
  height: 100vh;
  background: var(--clr-background);
  display: flex;
  flex-direction: column;
  margin:0;
}

.ide {
  flex: 1;
  padding: 1em;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.editor, .output {
  font-size: 1.25rem;
  flex: 1;
  height: 100%;
  max-height: 100%;
  position: relative;
  color: var(--clr-text);
}

.editor::after {
  content: '';
  position: absolute;
  top: 5%;
  bottom: 5%;
  right: 0;
  width: 5px;
  border-radius: 15px;
  background: var(--clr-gutter-marker-muted);
}

.output {
  padding: 0 1em;
}

.ui-button {
  background: transparent;
  border-radius: 50%;
  border: 1px solid var(--clr-compile);
  color: var(--clr-compile);
  font-size: 1rem;
  width: 2.25em;
  height: 2.25em;
  position: relative;
  margin: .5rem 1rem;
}

.ui-button:hover {
  cursor: pointer;
  border-color: var(--clr-text);
  color: var(--clr-text);
  background: var(--clr-compile-focused);
}

.ui-button > svg {
  width: 1.25em!important;
  height: 1.25em!important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-43%, -50%);
}

.loader {
  display: flex;
  margin: 0 1.5rem;
}

.loading {
  --size: 1.25rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  margin: 0 1rem;
  background: var(--clr-text);
  animation: loading-dot 1500ms ease-in-out infinite;
}

.loading:nth-child(2) {
  animation-delay: 500ms;
}

.loading:nth-child(3) {
  animation-delay: 1000ms;
}

@keyframes loading-dot {
  15.1515151515% {
    transform: scale(0.1);
  }
  
  33.333333333% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}
